{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4 text-center">{% trans "Log In" %}</h2>

            <!-- Display errors -->
            {% if form.errors %}
            <div class="alert alert-danger">
            {% for field in form %}
                {% for error in field.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div>{{ error }}</div>
            {% endfor %}
            </div>
            {% endif %}

            <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                    {% endif %}
                    {% for error in field.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
                {{ redirect_field }}

                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary">
                    {% trans "Log In" %}
                    </button>
                </div>

                <div class="text-center">
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>
            </form>

            <hr class="my-4" />

            <p class="text-center">
                {% trans "Don’t have an account?" %}
                <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
            </p>

            {% if SOCIALACCOUNT_ENABLED %}
            <div class="text-center">
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
